.exercise {
  &__navigation {
    &__toggle {
      cursor: pointer;
      font-size: 30px;
      margin-bottom: 15px;
    }

    &__popover {
      padding: 30px;
    }
  }

  &__container {
    width: 100vw;
    height: 100vh;
  }
}
